#boxing {
    padding: 200px 0;
}

.images img {
    width: 100%;
    height: 26rem;
}

.main .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #bbb9b9d7;
    margin: 0 5px;
}


.main .slick-dots li button {
    width: 10px;
    height: 10px;
    background: #909;
    border-radius: 50%;
    color: transparent;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 4px;
    margin-top: 5px;
    opacity: 0;
}

.main .slick-dots li.slick-active button {
    opacity: 1;
}