#product {
    padding: 70px 0 100px 0;
}

.title {
    text-align: center;
}

.title h3 {
    font-size: 26px;
    font-weight: 700;
}

.title p {
    font-size: 18px;
    font-weight: 400;
}

.cards {
    height: 22.5rem;
    border: 1px solid #ACACAC;
    margin-top: 30px;
}

.image {
    height: 180px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}

.image:hover img {
    transform: scale(1.1);

}
    
.box {
    display: flex;
    justify-content: center;
}

.cards .content {
    padding-top: 16px;
    padding-left: 10px;
}

.cards .content h4 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    pointer-events: none;
}

.cards .content h5 {
    font-weight: 700;
}

.cards .content h5 del {
    padding-right: 20px;
    color: #ACACAC;
}

.cards .content h5 span {
    color: #447700;
}


.cards .content h6 {
    font-weight: 700;
}

@media (max-width: 1199.98px) {

    .cards .content h6 {
        color: #fff;
    }

    #product {
        background: #000;
    }

    .cards .content h4 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        pointer-events: none;
    }

    .image {
        height: 200px;
    }
    
    .image img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    .cards {
        width: 24rem;
        height: 22.5rem;
        border: 1px solid #000000;
        margin-top: 30px;
    }

    .cards .content h5 del {
        padding-right: 20px;
        color: #686565;
    }

    .cards .content {
        padding-top: 16px;
        padding-left: 10px;
    }

    
    .title {
        color: #fff;
    }
    
    .cards .content h4 {
        font-size: 16px;
        line-height: 23px;
        font-weight: 700;
        pointer-events: none;
        color: #fff;
    }
    
}